
@model EditDishViewModel

<div class="card">
    <div class="card-header text-center"><h4>Ingredienser</h4></div>
    <div class="card-body">
        <div id="ingredients">
            <ul id="ingredients-list">
                @foreach (var ingredient in Model.Dish.MatrattProdukt)
                {
                    <li>
                        @ingredient.Produkt.ProduktNamn

                        <div class="text-right">
                            <a asp-action="RemoveIngredient"
                               asp-controller="Admin"
                               asp-route-id="@ingredient.ProduktId-@Model.Dish.MatrattId"
                               data-ajax="true"
                               data-ajax-method="get"
                               data-ajax-mode="replace"
                               data-ajax-update="#ingredients"
                               class="btn btn-sm btn-danger minor-btn">-</a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="card-footer">
        <form asp-controller="Admin" asp-action="AddIngredient" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#ingredients">
            <div class="form-group">
                <input asp-for="@Model.Dish.MatrattId" value="@Model.Dish.MatrattId" hidden />
                <label asp-for="@Model.NewIngredient">Ingredient</label>
                <input asp-for="@Model.NewIngredient" type="text" value="@Model.NewIngredient" class="form-control" maxlength="50" />
            </div>
            <button type="submit" class="btn btn-sm btn-success minor-btn">Lägg till</button>
        </form>
    </div>

</div>