
@model Bestallning

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">OrderID: @Model.BestallningId</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <h3>Orderdetaljer</h3>
    @foreach (var order in Model.BestallningMatratt)
    {
        <h6>
            @order.Antal st @order.Matratt.MatrattNamn
        </h6>
    }
    <h6>Totalt pris: @Model.Totalbelopp.ToString("C")</h6>
    <br/>
    <p>
        Status: @(Model.Levererad ? "Levererad" : "Ej levererad")
    </p>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>