@model IEnumerable<Bestallning>
<!-- Section scripts for this partial -->
<script src="/js/customers.js" defer></script>


<table class="table table-hover table-sm table-striped" style="width:100%" id="customertable">
    <thead>
        <tr>
            <th scope="col">Levererad</th>
            <th scope="col">Beställare</th>
            <th scope="col">Orderdatum</th>
            <th scope="col">Totalbelopp</th>
            <th scope="col">Orderhanterare</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.OrderBy(o => o.Levererad).ThenBy(o => o.BestallningDatum))
        {
            <tr>
                <!-- Todo, make button for request -->
                <td id="@order.BestallningId">
                    @if (order.Levererad)
                    {
                        <h4><span class="badge badge-success">&#x2713; Levererad</span></h4>
                    }
                    else
                    {
                        <h4><span class="badge badge-warning">&#x2717; Ej levererad</span></h4>
                    }
                </td>
                <td>@order.Kund.Namn</td>
                <td>@order.BestallningDatum</td>
                <td>@order.Totalbelopp.ToString("C")</td>
                <td>
                    <a class="btn btn-sm btn-info"
                       data-toggle="modal"
                       data-ajax="true"
                       data-ajax-method="GET"
                       data-ajax-mode="replace"
                       data-ajax-update="#order-modal"
                       asp-action="GetDishData" asp-controller="Admin"
                       asp-route-id="@order.BestallningId"
                       data-target="#myModal">Detaljer</a>

                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content" id="order-modal">

                            </div>
                        </div>
                    </div>
                    <a class="btn btn-sm btn-danger">Ta bort</a>
                    @if (order.Levererad)
                    {
                        
                    }
                    else
                    {
                        <a class="btn btn-sm btn-success"
                           asp-controller="Admin"
                           asp-action="ValidateOrder"
                           asp-route-id="@order.BestallningId"
                           data-ajax="true"
                           data-ajax-method="POST"
                           data-ajax-mode="replace"
                           data-ajax-update="#@order.BestallningId">Bekräfta leverans</a>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>