
@using Microsoft.EntityFrameworkCore.Internal
@model EditDishViewModel

@{
    ViewData["Title"] = "EditDish";
}


<div class="container-fluid fill-all mt-5">
    <h1>Ändra maträtten</h1>

    <div class="row">
        <div class="col-6">
            <form asp-action="EditDish" asp-controller="Admin" method="post">
                <input type="hidden" asp-for="Dish.MatrattId" />
                <div class="row mt-3">
                    <div class="col-6">
                        <label asp-for="Dish.MatrattNamn"></label>
                        <input maxlength="50" class="form-control" asp-for="Dish.MatrattNamn" value="@Model.Dish.MatrattNamn">
                        <small><span asp-validation-for="Dish.MatrattNamn"></span></small>
                    </div>
                    <div class="col-2">
                        <label asp-for="Dish.Pris"></label>
                        <input class="form-control" asp-for="Dish.Pris" value="@Model.Dish.Pris">
                        <small><span asp-validation-for="Dish.Pris"></span></small>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <label asp-for="Dish.Beskrivning"></label>
                        <textarea maxlength="200" class="form-control" asp-for="Dish.Beskrivning" value="@Model.Dish.Beskrivning"></textarea>
                        <small><span asp-validation-for="Dish.Beskrivning"></span></small>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-6">
                        <label asp-for="@Model.Categories"></label>
                        <select class="form-control" asp-for="@Model.Dish.MatrattTyp"
                                asp-items="@(new SelectList(Model.Categories, "MatrattTyp1", "Beskrivning"))"></select>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <a asp-controller="Admin" asp-action="AdminPage" class="btn btn-secondary">Avbryt</a>
                    <button type="submit" asp-action="SaveDishDetails" asp-controller="Admin" class="btn btn-primary">Spara ändringar</button>
                </div>
            </form>
        </div>
        <div class="col-3 mr-auto">
            <div class="card">
                <div class="card-header text-center"><h4>Ingredienser</h4></div>
                <div class="card-body">
                    <ul id="ingredients-list">
                        @foreach (var ingredient in Model.Dish.MatrattProdukt)
                        {
                            <li>
                                @ingredient.Produkt.ProduktNamn <a asp-action="RemoveIngredient"
                                                                   asp-controller="Admin"
                                                                   asp-route-id="@ingredient.ProduktId" class="btn btn-sm btn-danger">-</a>
                        </li>
                    }
                    </ul>
                </div>

                <div class="card-footer">
                    <!-- TODO ADD AJAX FOR THIS FORM, APPEND TO LIST ABOVE -->
                    <form>
                        <div class="form-group">
                            <label asp-for="NewIngredient"></label>
                            <input type="text" class="form-control" asp-for="NewIngredient" />
                        </div>
                        <button type="submit" class="btn btn-sm btn-success"
                                asp-action="AddIngredient"
                                asp-controller="Admin"
                                data-ajax="true"
                                data-ajax-method="GET"
                                data-ajax-mode="after"
                                data-ajax-update="#ingredients-list"
                                >Lägg till</button>
                    </form>
                </div>

            </div>
        </div>

    </div>
</div>


