@inject UserManager<AppUser> UserManager
@using Microsoft.AspNetCore.Identity
@model ShoppingCart

<div class="card">
    <div class="card-body">
        <ul>
            <!-- Null check of session object shoppingCart & it's products -->
            @if (Model?.Products != null)
            {
                <!-- Group items by name, count and totalsum to display in the list-->
                foreach (var item in Model.GroupItems())
                {
                    <li>
                        @item.Count - @item.ProductName - @item.TotalSum.ToString("C")
                        <a class="btn btn-sm btn-danger"
                           data-ajax="true"
                           data-ajax-method="GET"
                           data-ajax-mode="replace"
                           data-ajax-update="#cartList"
                           asp-controller="Cart" asp-action="RemoveItem" asp-route-id="@item.Id">-</a>
                    </li>
                }
            } <!-- Todo add delete btn -->
        </ul>
        <hr class="sm-light" />
        <div class="row">
            <div class="col-6 text-left">
                @if (Model?.Products != null && Model?.User != null)
                {
                    if(await UserManager.IsInRoleAsync(Model.User, UserRole.PremiumUser.ToString()) && Model.Products.Count >= 3)
                    {
                        <span>Rabatt:</span>
                        <br /><br />
                    }
                }
                Totalt:
            </div>
            <div class="col-6 text-right">
                <!-- Total sum for the items in the cart -->
                @if (Model?.Products != null && Model?.User != null)
                {
                    <!-- If user is premium and has more than 3 products in cart -->
                    if (await UserManager.IsInRoleAsync(Model.User, UserRole.PremiumUser.ToString()) && Model.Products.Count >= 3)
                    {
                        @Model.DiscountAmount().ToString("C")
                        <br /><br />
                        @Model.DiscountSum().ToString("C");
                    }
                    else
                    {
                        @Model.TotalSum().ToString("C")
                    }
                }
            </div>
        </div>
        <div class="text-center">
            @if (Model?.Products?.Count > 0)
            {
                <a class="btn btn-primary p-2 mt-2" asp-controller="Cart" asp-action="CheckOut">Beställ</a>
            }
        </div>
    </div>
</div>