@inject UserManager<AppUser> UserManager
@using System.Globalization
@using Microsoft.AspNetCore.Identity
@model ShoppingCart

<div class="card" id="shoppingCart">
    <div class="card-body">
        <ul>
            <!-- Null check of session object shoppingCart & it's products -->
            @if (Model?.Products != null)
            {
                <!-- Group items by name, count and totalsum to display in the list-->
                foreach (var item in Model.GroupItems())
                {
                    <li>
                        @item.Count - @item.ProductName - @item.TotalSum.ToString("C", new CultureInfo("sv-SE"))
                        <div class="text-right">
                            <a class="btn btn-sm btn-success"
                               data-ajax="true"
                               data-ajax-method="GET"
                               data-ajax-mode="replace"
                               data-ajax-update="#cartList"
                               asp-controller="Cart" asp-action="AddItem" asp-route-id="@item.Id">+</a>

                            <a class="btn btn-sm btn-danger"
                               data-ajax="true"
                               data-ajax-method="GET"
                               data-ajax-mode="replace"
                               data-ajax-update="#cartList"
                               asp-controller="Cart" asp-action="RemoveItem" asp-route-id="@item.Id">-</a>
                        </div>
                    </li>
                }
            }
        </ul>
        <div class="row card-footer mt-3">
            <div class="col-6 text-left">
                @if (Model?.Products != null && Model?.User != null)
                {
                    if (await UserManager.IsInRoleAsync(Model.User, UserRole.PremiumUser.ToString()) && Model.Products.Count >= 3)
                    {
                        <span>Rabatt:</span>
                        <br /><br />
                    }
                }
                Totalt:
            </div>
            <div class="col-6 text-right">
                <!-- Total sum for the items in the cart -->
                @if (Model?.Products != null && Model?.User != null)
                {
                    <!-- If user is premium and has more than 3 products in cart -->
                    if (User.IsInRole(UserRole.PremiumUser.ToString()))
                    {
                        if (Model.Products.Count >= 3)
                        {
                            @Model.DiscountAmount().ToString("C", new CultureInfo("sv-SE"))
                            <br /><br />
                            @Model.TotalSum(UserRole.PremiumUser).ToString("C", new CultureInfo("sv-SE"))
                            <br />
                        }
                        else
                        {
                            @Model.TotalSum(UserRole.PremiumUser).ToString("C", new CultureInfo("sv-SE"))
                        }
                        if (Model.Kund.Bonuspoäng >= 100 && Model.Products.Any(p => p.MatrattTyp == 1))
                        {
                            <br />
                            <small>
                                <span>Du får en pizza gratis!</span>
                            </small>
                        }

                    }
                    else
                    {
                        @Model.TotalSum().ToString("C", new CultureInfo("sv-SE"))
                    }

                }

            </div>
        </div>
        <div class="text-center">
            @if (Model?.Products?.Count > 0)
            {
                <a class="btn btn-primary p-2 mt-2" asp-controller="Cart" asp-action="CheckOutPage">Beställ</a>
            }
        </div>
    </div>
</div>